@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
  font-style: inherit;
}

html,
body {
  background-color: #121212;
  /* Off-white background */
  height: 100%;
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

#home{
  background-color: #1E1E1F;
}
#about{
  background-color: #1E1E1F;
}
#experience{
  background-color: #1E1E1F;
}
#header{
  background-color: #121212;
}
#skills{
  background-color: #1E1E1F;
}
#certifications{
  background-color: #1E1E1F;
}
#contact{
  background-color: #1E1E1F;
}




@keyframes elliptical-border {
  0% {
      border-radius: 50% 55%;
  }
  25% {
      border-radius: 55% 45%;
  }
  50% {
      border-radius: 60% 40%;
  }
  75% {
      border-radius: 45% 55%;
  }
  100% {
      border-radius: 50% 55%;
  }
}

.animate-ellipse-border {
  animation: elliptical-border 8s infinite linear;
}
